.header{
    /* border:solid red; */
    margin-top: 1%;
    margin-bottom: 0%;
  }
  h2{
    background-color: #C85C5C;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
  .gameBoard{
    border:solid black;
    border-radius: 1cm;
    background-color: #0B4619;
    background-image: url(https://freepngimg.com/save/32491-cross-sword/612x792);
    background-size: 25%;
    height:45vh;
    margin: 1em;
    padding: 1cm;
    display: flex;
    justify-content: space-evenly;
  }

  .nameBoard{
    border: solid blue;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    height:5vh
  }

.gameBtn{
  cursor: pointer;
  margin-left: 1%;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border-style: double;
  font-weight: 600;
  background-image: linear-gradient(
  rgb(54, 53, 53),
  rgb(0, 0, 0),
  rgb(54, 54, 54)
  );
  color: rgb(164, 164, 162);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: rgb(0, 0, 0);
  transition: 400ms;
}
      
.gameBtn:hover {
  transition: 400ms;
  border-style: double;
  border-color: rgb(208, 207, 207);
  color: rgb(219, 216, 216);
  font-size: 14px;
  text-shadow: 1px 10px 5px rgb(61, 61, 61);
}
  .displayName{
    /* border:solid black; */
    text-decoration: underline;
    font-size: 18pt;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.placeHolder{
  border:10px solid #0B4619;
  border-radius: 1em;
  margin-top: 4.5em;
  height:36vh;
  width:14vw
}

.scoreBoard h1 {
  /* border: solid black; */
  margin: 1em;
  text-decoration: underline;
}
.scoreBoard p {
  /* border: solid red; */
  font-size: 16pt;
  font-weight: bold;
  margin: 0%;
  padding: 5px; 
}