:root {
    --color-primary: brown;
    --color-secondary: black;
    --color-tertiary: black;
    --color-quaternary: black;
    --color-quinary: black;
  }
  
.title {
    text-shadow: 2px 2px 0 var(--color-secondary), 4px 4px 0 var(--color-tertiary),
      6px 6px var(--color-quaternary), 8px 8px 0 var(--color-quinary);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: calc(0.8rem + 3.5vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    animation: shadows 1.2s ease-in infinite;
    letter-spacing: 0.1rem;
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      transform: translate(-2px, -2px);
      text-shadow: 2px 2px 0 var(--color-secondary);
    }
    20% {
      transform: translate(-4px, -4px);
      text-shadow: 2px 2px 0 var(--color-secondary),
        4px 4px 0 var(--color-tertiary);
    }
    30% {
      transform: translate(-6px, -6px);
      text-shadow: 2px 2px 0 var(--color-secondary),
        4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary);
    }
    40% {
      transform: translate(-8px, -8px);
      text-shadow: 2px 2px 0 var(--color-secondary),
        4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary),
        8px 8px 0 var(--color-quinary);
    }
    50% {
      transform: translate(-8px, -8px);
      text-shadow: 2px 2px 0 var(--color-secondary),
        4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary),
        8px 8px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 2px 2px 0 var(--color-secondary),
        4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary),
        8px 8px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 2px 2px 0 var(--color-secondary),
        4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary);
    }
    80% {
      text-shadow: 2px 2px 0 var(--color-secondary),
        4px 4px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 2px 2px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
.submitBtn{
    cursor: pointer;
    margin:1em;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border-style: double;
    font-weight: 600;
    background-image: linear-gradient(
      rgb(54, 53, 53),
      rgb(0, 0, 0),
      rgb(54, 54, 54)
    );
    color: rgb(164, 164, 162);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: rgb(0, 0, 0);
    transition: 400ms;
}
      
.submitBtn:hover {
    transition: 400ms;
    border-style: double;
    border-color: rgb(208, 207, 207);
    color: rgb(219, 216, 216);
    font-size: 14px;
    text-shadow: 1px 10px 5px rgb(61, 61, 61);
}
.nameInput {
    max-width: 180px;
    margin-left: 2%;
    margin-bottom: 1%;
    background-color: #121212;
    border: 0px solid;
    box-shadow: 1px 1px 1px 1px rgb(131, 133, 129),
      -1px -1px 1px 1px rgb(100, 100, 100);
    border-radius: 4px;
    padding: 10px;
    color: whitesmoke;
    caret-color: white;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
.nameInput:focus {
    background-color: #222;
    border: 1.5px solid rgb(189, 189, 189);
}
  
.nameInput:hover {
    box-shadow: 1px 1px 1px 1px rgb(149, 151, 147),
      -1px -1px 1px 1px rgb(124, 124, 124);
}
  
.nameInput:hover::placeholder {
    color: white;
}
  
.nameInput::placeholder {
    color: #727272;
}

